.app {
  background-color: #15043B;
}

.header {
  width: 100%;
  background-image: url(../public/img/header.png);
}

.header-top {
  padding: 40px;
  display: flex;
  justify-content: space-between;
}

.login-button {
  width: 165px;
  height: 60px;
  background-image: url(../public/img/login.png);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-shadow: 0px 3px 0px rgba(59, 16, 179, 0.6);
  font-size: 45px;
  font-family: '000webfont';
}

.menu {
  height: 50px;
  margin-top: 50px;
  background-color: #2D0A81;
  color: #8573F0;
  display: flex;
  align-items: center;
}

.menu span {
  padding: 0 18px;
  cursor: pointer;
}

.main {
  background-image: url(../public/img/main-bg.png);
}

.games {
  padding: 25px;
  display: flex;
  justify-content: space-between;
}

.games img {
  width: 31vw;
}

.main-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buy-button {
  color: #ffffff;
  background-image: url(../public/img/buy-bg.png);
  width: 225px;
  height: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  cursor: pointer;
  font-size: 45px;
  font-family: '000webfont';
}

.table-wrap {
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
}

.table {
  border-collapse: collapse;
}

.table th {
  padding: 20px 80px;
  background-color: #1A0256;
  color: #5641D9;
}

.table td {
  color: #9584FD;
  padding: 10px 80px;
}

.quity {
  display: flex;
  align-items: center;
}

.footer {
  background-color: #2C078B;
  color: #ffffff;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.box-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 25px;
}

.box {
  width: 290px;
  margin: 10px 25px;
}

.box-name {
  width: 100%;
  color: #0FA9F0;
  background: #210472;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
  font-size: 24px;
  padding: 20px 0;
  text-align: center;
}

.box-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(31, 4, 99, 0.5);
  padding-bottom: 15px;
}

.box-image {
  margin-top: 20px;
  width: 190px;
}

.box-open {
  background-image: url(../public/img/open-box.png);
  width: 225px;
  height: 50px;
  display: flex;
  justify-content: center;
  color: #ffffff;
  text-shadow: 0px 2px 0px rgba(59, 16, 179, 0.6);
  cursor: pointer;
  font-size: 45px;
  font-family: '000webfont';
}