@font-face {
	font-family: '000webfont';
	src: url('../fonts/000webfont.ttf');
}

@font-face {
	font-family: 'GothamMedium';
	src: url('../fonts/GothamMedium.ttf');
}

body {
  margin: 0;
  font-family: 'GothamMedium', sans-serif;
}